body {
    font-family: sans-serif;
    background-color: lightpink;
    margin-top: 75px;
}

.center {
    text-align: left;
}

.text-big {
    font-size: 280%;
}

.italic {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

